section{
    background-image: url("glaciers.jpg"); /*Image by <a href="https://pixabay.com/users/marcogrocha-331573/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=389308">marcogrocha</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=389308">Pixabay</a>*/
}

.button{
    background-color:aqua;
    border: 2px white solid;
}