
.button{
    background-color:black;
    color:white;
    border: 2px solid purple;
    border-radius: 5px;
}

.button:hover{
    transform: scale(1.1);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');

.font{
    font-family: 'Baumans', sans-serif;
}

.header{
    background-image: linear-gradient(to bottom, yellow, purple);
    display: block;
    justify-content: center;
    align-items: center;
    border: 10px solid;
    padding: 50px;
    margin: 20px;
    border-color: purple;
    color: white;
    font-family: "Baumans", sans-serif;
}

.section{
    background-image: linear-gradient(to bottom, rgb(159, 159, 143), rgb(173, 142, 173));
    display: block;
    justify-content: center;
    align-items: center;
    border: 10px solid;
    padding: 50px;
    margin: 20px;
    border-color: purple;
}